
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

hr {
    margin: 20px 0;
    border: none;
    border-top: 1px solid #e0e0e0;
}

form {
    background-color: #ffffff;
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
    border-radius: 4px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
}

input[type="text"],
input[type="email"],
input[type="password"],
input[type="date"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

input[type="radio"],
input[type="checkbox"] {
    margin-right: 5px;
}

input[type="reset"] {
    background-color: red;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
    margin-right: 5px;
}
input[type="submit"] {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
    margin-right: 5px;
}
input[type="submit"]:hover{
    background-color: #16751b;
}
input[type="reset"]:hover {
    background-color: rgba(255, 0, 0, 0.728);
}

/* Responsive Styles */
@media (max-width: 600px) {
    form {
        padding: 10px;
    }

    input[type="text"],
    input[type="email"],
    input[type="password"],
    input[type="date"] {
        font-size: 14px;
    }
}